[submodule "vimfiles/pack/gsk/start/vim-fugitive"]
	path = vimfiles/pack/gsk/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/pack/gsk/start/vim-airline"]
	path = vimfiles/pack/gsk/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vimfiles/pack/gsk/start/supertab"]
	path = vimfiles/pack/gsk/start/supertab
	url = https://github.com/vim-scripts/supertab.git
[submodule "vimfiles/pack/gsk/start/solarized"]
	path = vimfiles/pack/gsk/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/pack/gsk/start/vim-surround"]
	path = vimfiles/pack/gsk/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/pack/gsk/start/delimitMate"]
	path = vimfiles/pack/gsk/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vimfiles/pack/gsk/start/closetag"]
	path = vimfiles/pack/gsk/start/closetag
	url = https://github.com/docunext/closetag.vim.git
