[submodule "vimfiles/pack/gsk/start/vim-fugitive"]
	path = vimfiles/pack/gsk/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/pack/gsk/start/vim-airline"]
	path = vimfiles/pack/gsk/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
