[submodule "vimfiles/pack/gsk/start/vim-fugitive"]
	path = vimfiles/pack/gsk/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/pack/gsk/start/vim-airline"]
	path = vimfiles/pack/gsk/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vimfiles/pack/gsk/start/supertab"]
	path = vimfiles/pack/gsk/start/supertab
	url = https://github.com/vim-scripts/supertab.git
[submodule "vimfiles/pack/gsk/start/vim-surround"]
	path = vimfiles/pack/gsk/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/pack/gsk/start/delimitMate"]
	path = vimfiles/pack/gsk/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vimfiles/pack/gsk/start/closetag"]
	path = vimfiles/pack/gsk/start/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "vimfiles/pack/gsk/start/nerdtree"]
	path = vimfiles/pack/gsk/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/pack/gsk/start/nerdtree-git-plugin"]
	path = vimfiles/pack/gsk/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vimfiles/pack/gsk/start/nerdcommenter"]
	path = vimfiles/pack/gsk/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/pack/gsk/start/vim-gitgutter"]
	path = vimfiles/pack/gsk/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vimfiles/pack/gsk/start/ale"]
	path = vimfiles/pack/gsk/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vimfiles/pack/gsk/start/vim-matlab"]
	path = vimfiles/pack/gsk/start/vim-matlab
	url = https://github.com/djoshea/vim-matlab.git
  ignore = dirty
[submodule "vimfiles/pack/gsk/start/NeoSolarized"]
	path = vimfiles/pack/gsk/start/NeoSolarized
	url = https://github.com/icymind/NeoSolarized.git
[submodule "vimfiles/pack/gsk/start/vimtex"]
	path = vimfiles/pack/gsk/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vimfiles/pack/gsk/start/vim-ps1"]
	path = vimfiles/pack/gsk/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vimfiles/pack/gsk/start/vim-unimpaired"]
	path = vimfiles/pack/gsk/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/pack/gsk/start/vim-closetag"]
	path = vimfiles/pack/gsk/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "vimfiles/pack/gsk/start/vim-go"]
	path = vimfiles/pack/gsk/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vimfiles/pack/gsk/start/golden-ratio"]
	path = vimfiles/pack/gsk/start/golden-ratio
	url = https://github.com/roman/golden-ratio.git
  ignore = dirty
[submodule "vimfiles/pack/gsk/start/ctrlp.vim"]
	path = vimfiles/pack/gsk/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vimfiles/pack/gsk/start/vim-airline-themes"]
	path = vimfiles/pack/gsk/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
